Resources:
  %{ for sub in subscriptions ~}
  
  ${title(replace(sub.name, "/\\W/", ""))}:
    Type: AWS::CloudFormation::CustomResource
    Properties:
      Exchange: ${sub.exchange}
      BindingKey: ${sub.binding_key}
      Queue: ${sub.queue}
      ServiceToken: ${service_token}
  %{ endfor ~}
